<div id="main" class="agentdashboard">

	<!--
	  <div style="display:none;">
		  <div>
			  My name: <input type="text" id="my-name"> <button id="update-name">Update</button>
		  </div>
		  <h1>Users online</h1>
		  <div>
			  <select id="users-list" size="5"></select>
			  <button id="private-msg-button">Send private message to selected user</button>
		  
		  </div>
		  <h1>Chat rooms</h1>
		  <div>
			  <select id="rooms-list" size="5"></select>
			  <button id="join-room">Join selected room</button>
			  <button id="new-room">Start a new room</button>
			  <div id="rooms"></div>
		  </div>
	  </div>
	  <div class="col-md-12">
		  <div class="row">
			  <div class="col-md-3">
				  <div id="convos" class="" ng-style="{'height':agentwindowpanelheight+ 'px'}">
					  <div class="agentusersidebar row">
						  <div class="userlist">
							  <button class="btn useronline" disabled>
								  <span class="userimg">
									  <img src="img/logo7.png" class="img-fluid">
								  </span>
								  Me
								  <span class="pull-right onlinesymbol">
									  <i class="fa fa-circle" aria-hidden="true"></i>
								  </span>
							  </button>
						  </div>
					  </div>
				  </div>
			  </div>
			  <div class="col-md-9">
				  <div id="convos_chat"></div>
			  </div>
		  </div>
	  </div>
	  
	  -->




	<div class="container-fluid padding0">
		<nav class="navbar margin0">
			<div class="container-fluid padding0">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					    aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand">
					</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<!-- <li>
							<a style="cursor: pointer;" data-toggle="modal" data-target="#myModal">
								<span class="glyphicon glyphicon-info-sign"></span>
								HotKeys
							</a>
						</li> -->
						<li>
							<a ng-click="break()">
							  <span class="glyphicon glyphicon-hourglass"></span>
							  <span ng-if="breakStatus">Resume</span>
							  <span ng-if="!breakStatus">Away</span>
							</a>
						  </li>

					</ul>
				</div>
			</div>
		</nav>
	</div>

	<div class="container-fluid chatwindow padding0">
		<div class="row show-agents-container">

			<div id="chattab" class="col-xs-2">
				<div ng-if="liveChatHistory.length==0" class="no-user">No User</div>
				<div ng-repeat="user in liveChatHistory" class="userlist" ng-click="getChat(user)" ng-class="{'active': user==selectedUser}">
					<span class="user-close" ng-if="user.isChatEnd" ng-click="removeUser(user)">X</span>
					<a>
						<div ng-bind="user.user1" ng-if="user.user1"></div>
						<div ng-bind="user.user" ng-if="user.user"></div>
					</a>
				</div>

			</div>

			<div id="chatwin" class="col-xs-10 show-chats-container">
				<div class="chat-panel">
					<div class="message-panel">
						<div class="" ng-repeat="message in selectedUser.chatlist track by $index" class="chat-list" ng-class="{'left-align':message.type=='user','right-align':message.type=='agent'}">
							<!--_________________________ Live chat ___________________________________ -->
							<div ng-if="message.type">
								<div class="agent-transfer" ng-if="message.type=='transfer'">
									<span ng-bind="message.message"></span>
								</div>
								<!-- <div class="left-chat" ng-if="message.type=='user'">
					<span ng-bind="message.message" class=""></span>
					<br>
					<div class="chat-info-detail-left">
					  
					  <span class="userInfo">
  
						<span class="custom-tooltip">
						  <a target="_blank" ng-href="#">
							<span ng-bind="message.userdetails.url"> </span>
						  </a>
						</span>
						User Info</span>
						
					  <span class="time">
						<span ng-bind="message.date.split(' ')[1].split('.')[0]"> </span>
					  </span>
  
					</div>
				  </div> -->

								<!-- <div class="right-chat" ng-if="message.type=='agent'">
									<span ng-bind="message.msg" class=""></span>
									<br>
									<div class="chat-info-detail-right">
										<span class="userInfo">User Info</span>
										<span ng-bind="message.date.split(' ')[1].split('.')[0]"> </span>
									</div>
								</div> -->


								<li class="left lastchat clearfix" ng-if="message.type=='user'">
									<span class="chat-img pull-{{list.position}}">
										<img ng-src="img/logo7.png" alt="BOT" class="img-circle " />
									</span>
									<!--<div class="start_conv" ng-if="list.msg.type=='SYS_CONV_START'">
						<span class="label label-success" >{{list.msg.Text}}</span>
					</div>
					<div class="end_conv" ng-if="list.msg.type == 'SYS_CONV_END'">
						<span class="label label-danger" >{{list.msg.Text}}</span>
					</div>-->
									<div class="chat-body">
										<div class="clearfix">
											<p class="lastmsg">
												<!-- <ng-bind-html ng-bind-html = "message.user_input">
									{{message.user_input}}
								</ng-bind-html> -->
												<span ng-bind="message.message" class=""></span>
												<br>
												<!-- <div class="chat-info-detail-left">
					  
					  <span class="userInfo">
  
						<span class="custom-tooltip">
						  <a target="_blank" ng-href="#">
							<span ng-bind="message.userdetails.url"> </span>
						  </a>
						</span>
						User Info</span>
					
					  <span class="time">
						<span ng-bind="message.date.split(' ')[1].split('.')[0]"> </span>
					  </span>
					  </div> -->
											</p>
										</div>

									</div>
								</li>
								<li class="right lastchat clearfix" ng-if="message.type=='agent'">
									<span class="chat-img pull-{{list.position}}">
										<img ng-src="img/logo7.png" alt="BOT" class="img-circle grey_border" />
									</span>
									<div class="chat-body">
										<div class=" clearfix">
											<div class="sysChatRes">
												<div class="chatType">
													<p class="lastmsg">
														<!--
												<small class="chatTime">
													<span class="glyphicon glyphicon-time">
													</span>
													{{list.curTime | date: 'HH:mm:ss'}}
												</small>-->
														<span ng-bind="message.message" class=""></span>
														<br/>
														<!-- <div class="chat-info-detail-right">
															<span class="userInfo">User Info</span>
															<span ng-bind="message.date.split(' ')[1].split('.')[0]"> </span>
														</div> -->
													</p>
												</div>

											</div>
										</div>
									</div>

								</li>
							</div>
							<!--_________________________ END of Live chat ___________________________________ -->
							<!-- __________________________ Bot chat __________________________________ -->
							<div ng-if="!message.type">


								<!-- <div ng-repeat="message in conv.chatlist track by $index"> -->
								<li class="left lastchat clearfix">
									<span class="chat-img pull-{{list.position}}">
										<img ng-src="img/logo7.png" alt="BOT" class="img-circle " />
									</span>
									<!--<div class="start_conv" ng-if="list.msg.type=='SYS_CONV_START'">
								<span class="label label-success" >{{list.msg.Text}}</span>
							</div>
							<div class="end_conv" ng-if="list.msg.type == 'SYS_CONV_END'">
								<span class="label label-danger" >{{list.msg.Text}}</span>
							</div>-->
									<div class="chat-body">
										<div class="clearfix" ng-if="message.user_input !=''">
											<p class="lastmsg">
												<ng-bind-html ng-bind-html="message.user_input">
													{{message.user_input}}
												</ng-bind-html>
											</p>
										</div>
										<div class="clearfix" ng-if="message.dthyperlink">
											<p class="lastmsg">
												<ng-bind-html ng-bind-html="message.dthyperlink.Dthlink">
													{{message.dthyperlink.Dthlink}}
												</ng-bind-html>
											</p>
										</div>
									</div>
								</li>
								<li class="right lastchat clearfix">
									<span class="chat-img pull-{{list.position}}">
										<img ng-src="img/kairalogo.png" alt="BOT" class="img-circle " />
									</span>
									<div class="chat-body">
										<div class=" clearfix">
											<div class="sysChatRes">
												<div class="chatType" ng-if="message.response.type==='SYS_CRN'">
													<p class="lastmsg">
														<!-- <ng-bind-html ng-bind-html = "list.msg.Text">
													{{list.msg.Text}}
												</ng-bind-html> -->
														<p class="lastmsg">
															<b>First Name</b> : {{message.response.Text.details.title}} {{message.response.Text.details.first_name}}
															<br>
															<b>Middle Name</b> : {{message.response.Text.details.middle_name}}
															<br>
															<b>Last Name </b>: {{message.response.Text.details.last_name}}
															<br>
															<b>IT </b>: {{message.response.Text.details.it_type}}
															<br>
															<b>Flexible Info </b>: {{message.response.Text.details.customer_category}}
															<br>
															<b>RBI Customer Risk profiles </b>: {{message.response.Text.details.risk_profile}}
															<br>
															<b>Classification Cat Lu Code1 </b>: {{message.response.Text.details.classification_cat_lu_code1}}
															<br>
															<b>Classification Eff Date </b>: {{message.response.Text.details.classification_eff_date}}
															<br>
															<b>Classification Cat Lu </b>: {{message.response.Text.details.sub_classification_cat_lu}}
															<br>
															<b>Party Type </b>: {{message.response.Text.details.party_type}}
															<br>
															<b>Party Status </b>: {{message.response.Text.details.party_status}}
															<br>
															<b>Party Status Reason </b>: {{message.response.Text.details.party_status_reason}}
															<br>
															<b>Primary Segment </b>: {{message.response.Text.details.primary_segment}}
															<br>
														</p>
													</p>
												</div>
												<div class="chatType" ng-if="message.response.type==='text'">
													<p class="lastmsg" ng-bind-html="to_trusted(message.response.Text);">

														<!--
												<small class="chatTime">
													<span class="glyphicon glyphicon-time">
													</span>
													{{list.curTime | date: 'HH:mm:ss'}}
												</small>-->
													</p>
												</div>
												<div class="chatType" ng-if="message.response.type==='rate card'">
													<!--<div  class="col-md-12">
												<span ng-if="chatRes.no_drop == 2">
													<span ng-repeat = "dropdwn in chatRes.options_list track by $index">
														<div  class="col-md-12">
															<label for="col_val_">{{dropdwn.key}} : </label>
															<select  ui-select2="{ allowClear: true}" ng-model="r[rate_count].ratecard_col_select{{$index}}" datartype="{{chatRes.response_type}}" dcount="{{chatRes.no_drop}}" ng-options="coldata for coldata in dropdwn.value" data-journey="{{chatRes.journey_name}}" data-index="{{$rowIndex}}" data-dindex="{{$index}}" class="form-control r_c_col r_c_col{{$index}} r_c_col_{{$rowIndex}}">
																
															</select>
														</div>
														
													</span>
													<div  class="col-md-12">
														<label for="col_val_">Options : </label>
														<select  ui-select2="{ allowClear: true}" ng-model="r[rate_count].ratecard_opts{{$rowIndex}}" data-journey="{{chatRes.journey_name}}" data-index="{{$rowIndex}}" class="form-control r_c_op r_c_op_{{$rowIndex}}">
															
														</select>
													</div>
													<div  class="container-fluid ">
														<div class="col-md-12 ratecardresult ratecardresult{{$rowIndex}}">
															<div class=" ratecardresult_{{$rowIndex}}">
																<div class="row">
																	<div class="resultbar">
																		Result:
																	</div>
																</div>
																<p>
																 <span></span>
															</div>
														</div>
													</div>
												</span>
												<ng-bind-html >
													
												</ng-bind-html>
												
											</div>-->
													<!--
											<div  class="container-fluid ">
												<div class="col-md-12 ratecardresult ratecardresult{{$rowIndex}}">
													<div class=" ratecardresult_{{$rowIndex}}">
														<div class="row">
															<div class="resultbar">
																Result:
															</div>
														</div>
														<p>
														 <span></span>
													</div>
												</div>
											</div>
											<div class="container-fluid">
												<div class=" ratecardcontinue ratecardcontinue{{$rowIndex}}">
													<b>Do you want to continue ?</b><br>
													<button class="btn btn-primary  continue" ng-if="chatRes.stage_details" ng-click="rate_to_dt(chatRes.stage_details);">Yes</button>
												</div>
											</div>
											<br>-->

												</div>
												<div class="chatType" ng-if="message.response.type==='product listing'">
													<div class='carousel slide' id='myCarousel{{$rowIndex2}}'>
														<div class='carousel-inner'>
															<div class='item carousel_item2' ng-class="{active:!$index}" ng-repeat="imagelist in message.response.product_list track by $index">
																<div>
																	<div class="col-xs-12">
																		<div class="text-box" ng-if="imagelist.Brand_Name!=''">
																			<div class="imgtitle2">
																				<b>
																					<span>
																						<ng-bind-html ng-bind-html="imagelist.Brand_Name">
																							{{imagelist.Brand_Name}}
																						</ng-bind-html>
																					</span>
																				</b>
																			</div>
																		</div>
																		<div class="img-box2">
																			<a ng-href="{{dmpurl}}/uploads/instructions/{{imagelist.image_name}}" data-fancybox="imggroup{{$rowIndex}}" rel="gallary{{$rowIndex}}"
																			    fancyboxable data-caption="{{imagelist.details}}">
																				<img ng-src="{{dmpurl}}/uploads/instructions/{{imagelist.image_name}}" class="img-full">
																			</a>
																		</div>

																		<!-- <div class="" >
																	<div class="knowmore">
																		<a ng-href="http://exponentiadata.co.in/huldm/uploadexcel/uploads/100/productlisting/{{chatRes.product_list[$index].image_name}}"  data-fancybox="linkgroup" rel="gallary" fancybox data-caption="{{chatRes.product_list[$index].details}}" >
																			Know More
																		</a>
																	</div>
																</div>
																<div class=""  ng-if="chatRes.product_list[$index].URL!='' && chatRes.product_list[$index].URL">
																	<div class="viewadvertisement">
																		<a href="{{chatRes.product_list[$index].URL}}" target="_blank" >
																			View Advertisement
																		</a>
																	</div>
																</div> -->

																	</div>
																</div>
															</div>
														</div>
														<a class='left carousel-control' href='#myCarousel{{$rowIndex2}}' data-slide='prev'>
															<i class='glyphicon glyphicon-chevron-left'></i>
														</a>
														<a class='right carousel-control' href='#myCarousel{{$rowIndex2}}' data-slide='next'>
															<i class='glyphicon glyphicon-chevron-right'></i>
														</a>
													</div>
												</div>
												<div class="chatType" ng-if="message.response.type==='top_search'">
													<div>
														<!-- <span comp-translate="{{chatRes.Text}}"></span>  -->
														<ng-bind-html ng-if="message.response.Text != ''" ng-bind-html="message.response.Text|newlines">
															<p class="lastmsg">
																{{message.response.Text}}

															</p>
														</ng-bind-html>
													</div>
													<div>
														<div class="marginbottom10" ng-repeat="ts in message.response.top_search">
															<button class="btn btn-primary btn-xs cur_search" ng-if="ts!=''" type="button" ng-click="getSearch(ts);">
																{{ts}}
															</button>
														</div>

													</div>
												</div>
												<!-- animated fadeIn -->
												<div class="chatType  boxme" ng-if="message.response.type==='DTHyperlink'">

													<ng-bind-html ng-if="message.response.Text != '' && message.response.Text" ng-bind-html="message.response.Text|newlines">
														<p class="lastmsg">
															{{message.response.Text}}
														</p>
													</ng-bind-html>
													<!-- <p class="lastmsg redtext" ng-repeat="scrpttext in chatRes.Script">
												<ng-bind-html ng-bind-html="scrpttext|newlines">
													{{scrpttext}}
												</ng-bind-html>
											</p>
											<p class="lastmsg" ng-repeat="processtext in chatRes.Process">
												<ng-bind-html ng-bind-html="processtext|newlines">
													{{processtext}}
												</ng-bind-html>
											</p> -->

													<!-- <div class="dthyperlink lastmsg" ng-repeat="dthlink in chatRes.DTHyperlink" data-id="{{dthlink}}" data-url-id="innerLink" data-line="{{chatRes.line_no[$index]}}" data-col="{{chatRes.col_no[$index]}}" ng-click="getDthlinkRes(chatRes.col_no[$index],chatRes.line_no[$index],dthlink);">
												{{dthlink}}
											</div> -->
													<div class="container-fluid" ng-repeat="dthlink in message.response.DT" ng-init="$dthindex = $index">
														<div class="col-md-11 dthyperlink lastmsg changedthbg stage{{message.response.bgstage}}" data-id="{{dthlink}}" data-url-id="innerLink"
														    data-stage="{{message.response.Stage}}" data-bgstage="{{message.response.bgstage}}" ng-if="message.response.DT.length > 0 "
														    data-index="{{$index}}">
															<span class="lefticon glyphicon glyphicon-chevron-left" style="display:none;"></span>
															{{dthlink}}
														</div>
														<!-- <button type="button" class="btn btn-primary" ng-if="chatRes.Decision_Icon[$dthindex] !== '' && chatRes.Decision_Icon"  popover-placement="top" uib-popover="{{chatRes.Decision_Icon[$dthindex]}}" popover-title="{{dthlink}}" popover-class="dthpopover">
													<span class="glyphicon glyphicon-info-sign"></span>
												</button>  -->
														<div class="col-md-1 popoverinfo">
															<span ng-init="hovering={objHovered:false, popoverOpened2:false}" ng-mouseover="hovering.objHovered=true;hovered(hovering);"
															    ng-mouseleave="hovering.objHovered=false;hovering.popoverOpened2=false;">
																<span ng-if="message.response.Decision_Icon[$dthindex] !== '' && message.response.Decision_Icon" popover-placement="left"
																    uib-popover="{{message.response.Decision_Icon[$dthindex]}}" popover-title="{{dthlink}}" popover-trigger="'none'"
																    popover-class="dthpopover" popover-is-open="hovering.popoverOpened2" class="glyphicon glyphicon-info-sign"></span>
															</span>
														</div>
													</div>
													<div ng-if="message.response.images.length > 0">
														<div class='carousel slide' id='myCarousel2'>
															<div class='carousel-inner'>
																<div class='item carousel_item' ng-class="{active:!$index}" ng-repeat="imglist in message.response.images track by $index"
																    ng-if="$index % 3 == 0">
																	<div class="col-xs-4">
																		<div class="img-box">
																			<a ng-href="http://localhost:8097/{{message.response.images[$index]}}" data-fancybox="groupdt{{$rowIndex}}" rel="gallary"
																			    fancybox>
																				<img ng-src="http://localhost:8097/{{message.response.images[$index]}}" class="img-full">

																			</a>
																		</div>
																	</div>
																	<div class="col-xs-4" ng-if="chatRes.images[$index+1] != null">
																		<div class="img-box">
																			<a ng-href="http://localhost:8097/{{message.response.images[$index+1]}}" data-fancybox="groupdt{{$rowIndex}}" rel="gallary"
																			    fancybox>
																				<img ng-src="http://localhost:8097/{{message.response.images[$index+1]}}" class="img-full">

																			</a>
																		</div>
																	</div>
																	<div class="col-xs-4" ng-if="message.response.images[$index+2] != null">
																		<div class="img-box">
																			<a ng-href="http://localhost:8097/{{message.response.images[$index+2]}}" data-fancybox="groupdt{{$rowIndex}}" rel="gallary"
																			    fancybox>
																				<img ng-src="http://localhost:8097/{{message.response.images[$index+2]}}" class="img-full">

																			</a>
																		</div>
																	</div>
																</div>
															</div>
															<a class='left carousel-control' href='#myCarousel2' data-slide='prev'>
																<i class='glyphicon glyphicon-chevron-left'></i>
															</a>
															<a class='right carousel-control' href='#myCarousel2' data-slide='next'>
																<i class='glyphicon glyphicon-chevron-right'></i>
															</a>
														</div>
													</div>
												</div>
												<div class="chatType" ng-if="message.response.type==='Instruction'">
													<!-- <ui-carousel slides="chatRes.imagelist" slides-to-show="3" slides-to-scroll="1" initial-slide="1" autoplay="true" autoplay-speed="2000" dots="true">
												<carousel-item>
													<h3>{{ item + 1 }}</h3>
												</carousel-item>
											</ui-carousel> -->

													<div class='carousel slide' id='myCarousel'>
														<div class='carousel-inner'>
															<div class='item carousel_item' ng-class="{active:!$index}" ng-repeat="imglist in message.response.imagelist track by $index"
															    ng-if="$index % 3 == 0">
																<div class="col-xs-4">
																	<div class="img-box">
																		<a ng-href="{{message.response.imagelist[$index].Image}}" data-fancybox="group" rel="gallary" fancybox>
																			<img ng-src="{{message.response.imagelist[$index].Image}}" class="img-full">
																		</a>
																	</div>
																	<div class="text-box" ng-if="message.response.imagelist[$index].Text!='Text'">
																		<span>
																			<ng-bind-html ng-bind-html="message.response.imagelist[$index].Text|newlines">
																				{{message.response.imagelist[$index].Text}}
																			</ng-bind-html>
																		</span>
																	</div>
																</div>
																<div class="col-xs-4" ng-if="message.response.imagelist[$index+1] != null">
																	<div class="img-box">
																		<a ng-href="{{message.response.imagelist[$index+1].Image}}" data-fancybox="group" rel="gallary" fancybox>
																			<img ng-src="{{message.response.imagelist[$index+1].Image}}" class="img-full">
																		</a>
																	</div>
																	<div class="text-box" ng-if="message.response.imagelist[$index+1].Text!='Text'">
																		<span>
																			<ng-bind-html ng-bind-html="message.response.imagelist[$index+1].Text|newlines">
																				{{message.response.imagelist[$index+1].Text}}
																			</ng-bind-html>
																		</span>
																	</div>
																</div>
																<div class="col-xs-4" ng-if="message.response.imagelist[$index+1] != null">
																	<div class="img-box">
																		<a ng-href="{{message.response.imagelist[$index+2].Image}}" data-fancybox="group" rel="gallary" fancybox>
																			<img ng-src="{{message.response.imagelist[$index+2].Image}}" class="img-full">
																		</a>
																	</div>
																	<div class="text-box" ng-if="message.response.imagelist[$index+2].Text!='Text'">
																		<span>
																			<ng-bind-html ng-bind-html="message.response.imagelist[$index+2].Text|newlines">
																				{{message.response.imagelist[$index+2].Text}}
																			</ng-bind-html>
																		</span>
																	</div>
																</div>
															</div>
														</div>
														<a class='left carousel-control' href='#myCarousel' data-slide='prev'>
															<i class='glyphicon glyphicon-chevron-left'></i>
														</a>
														<a class='right carousel-control' href='#myCarousel' data-slide='next'>
															<i class='glyphicon glyphicon-chevron-right'></i>
														</a>
													</div>
												</div>
												<div class="chatType" ng-if="!message.response.type">
													<p class="lastmsg">
														{{failuremsg[0].msg}}
														<!--
												<small class="chatTime">
													<span class="glyphicon glyphicon-time">
													</span>
													{{list.curTime | date: 'HH:mm:ss'}}
												</small>-->
													</p>
												</div>
											</div>
										</div>
									</div>

								</li>






							</div>
							<!-- __________________________ End Of Bot chat __________________________________ -->
						</div>

						<div style="text-align: center;margin-top: 10px;margin-bottom: 10px;" ng-if="selectedUser.enableAgentEndChatMsg">
                            <span class="label label-danger">{{agentendmsg}}</span>
                        </div>
                        
					</div>

					<div class="bottom" ng-if="selectedUser.chatlist.length>0 && !selectedUser.isChatEnd">
						<input type="text" id="agentInput" ng-model="agentReplay.text" placeholder="Reply..." ng-keydown="keyDownFunc($event, agentReplay.text, selectedUser)">
						<button ng-click="sendMessage(agentReplay.text,selectedUser)" class="btn btn-primary">Submit</button>
						<!-- <div class="dropup transfer-button">
							<button class="btn btn-default btn-primary dropdown-toggle" type="button" ng-click="getLiveAgent()" id="menu1" data-toggle="dropdown">Transfer
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
								<li role="presentation" ng-repeat="agent in agentOnline" ng-if="agentOnline.length>0" ng-click="transferAgent(agent,selectedUser)">
									<a role="menuitem" tabindex="-1" href="#">
										<span ng-bind="agent.agentname"></span>
									</a>
								</li>

								<li role="presentation" ng-if="agentOnline.length==0">
									<a role="menuitem" tabindex="-1" href="#">
										<span>no agent available</span>
									</a>
								</li>
							</ul>
						</div> -->
						<button ng-click="endChat(selectedUser); agentEndConversation(1)" class="btn btn-danger">End Chat</button>

					</div>
				</div>
			</div>

		</div>


		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Hotkeys Information </h4>
					</div>
					<div class="modal-body">
						<!-- NG REPEAT -->
						<!-- <span ng-bind="item"></span> -->
						<!-- <ul>
					<li>
					  
					  
					</li>
				  </ul> -->

						<table class="table table-hover">
							<thead>
								<tr>
									<th style="width:13%; text-align:center">Special Keys</th>
									<th style="width:13%; text-align:center">Keys</th>
									<th>Message</th>
								</tr>
							</thead>
							<tbody ng-repeat="item in hotkeys">
								<tr>
									<td style="text-align: center">
										<span ng-bind="item.specialkeyvalue"></span>
									</td>
									<td style="text-align: center">
										<span ng-bind="item.hotkeyvalue"></span>
									</td>
									<td>
										<span ng-bind="item.message"></span>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- <div class="col-xs-5">
					  </div>
					  <div class="col-xs-7">
						
					  </div>
					  <br> -->
					</div>
				</div>
			</div>




		</div>





	</div>




</div>
<div id="disconnect" style="display:none">Waiting for reconnect...</div>