<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Content</h3>
    <button type="button" class="close"  aria-hidden="true" ng-click="viewmatrixCancel();">&times;</button>
</div>
<div class="modal-body" id="modal-body">
    
    <div class ="tab-con "  >
		<div class="tabledata" id="table_data">
            <ng-bind-html ng-bind-html="trustedHtml(items.viewdata);">
                {{items.viewdata}}
            </ng-bind-html>
        </div>
    </div>
	
</div>
<div class="modal-footer hidden">
    <button class="btn btn-primary" type="button" ng-click="">OK</button>
    <button class="btn btn-warning" type="button" ng-click="">Cancel</button>
</div>